@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Noto+Sans:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.25s ease;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

.font-inter {
    font-family: 'Inter', sans-serif;
}

.font-notoSans {
    font-family: 'Noto Sans', sans-serif;
}

.active-nav::before {
    content: ""; 
    position: absolute;
    top: 50%; 
    right: -20px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    z-index: 9999999;
    border-top: 20px solid transparent; 
    border-bottom: 20px solid transparent;
    border-left: 20px solid #00635B;
  }